* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: "Arial", Verdana, sans-serif;
    color: #fff;
    text-align: center;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in;
}

.icon {
    display: block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
    &:hover{
        opacity: 1;
    }
    &:active {
        border: 0;
        outline: 0;
        transform: scale(1.1);
    }
}

@media (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }

    .greeting {
        min-height: 40px;
        font-size: 32px;
    }

    .greeting__welcome {
        padding: 5px;
    }

    .name {
        font-size: 32px;
        padding: 5px;
    }
}