* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: "Arial", Verdana, sans-serif;
    color: #fff;
    text-align: center;
    //background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
    //background-blend-mode: multiply;
}