.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 35vh;
}

.audio-player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
        height: 50px;
        margin-bottom: 8px;
    }
}

.icon_play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url(../assets/svg/play.svg);
}

.pause {
    background-image: url(../assets/svg/pause.svg);
}

.icon_prew-track {
    background-image: url(../assets/svg/play-prev.svg);
}

.icon_next-track {
    background-image: url("../assets/svg/play-next.svg");
}

.audio-player-audio-volume {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
    &:hover {
        .volume-slider {
            left: -123px;
            width: 120px;
        }
    }
}

.volume-button {
    height: 26px;
    display: flex;
    align-items: center;
}

.volume {
    transform: scale(0.7);
}

.volume-slider {
    position: absolute;
    left: -3px;
    top: 5px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: white;
    box-shadow: 0 0 20px #000a;
    transition: .25s;
}

.volume-percentage {
    background: coral;
    height: 100%;
    width: 75%;
}

.audio-player__playlist {
    text-align: left;
}

.play-item {
    position: relative;
    width: 250px;
    padding: 3px;
    padding-left: 20px;
    list-style: none;
    opacity: .8;
    transition: .3s;
    //cursor: pointer;
    display: flex;
}

.play-item:hover {
    opacity: 1;
}

.play-item::before {
    content: "\2713";
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: 900;
}

.item-active::before {
    color: #C5B358;
}

.icon_play_track {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    line-height: 26px;
    margin-left: auto;
    cursor: pointer;
    background-image: url(../assets/svg/play.svg);
}

input[type=range] {
    width: 250px;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 10px;
    &::-webkit-slider-runnable-track {
        height: 10px;
        background-color: blue;
    }
    &::-webkit-slider-thumb {
        background: #ecf0f1;
        cursor: pointer;
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        margin-top: -4px;
        box-shadow: -200px 0 0 200px #43e5f7;
    }
    &::-moz-range-track {
        height: 7px;
        background-color: blue;
    }
    &::-moz-range-thumb {
        background: #ecf0f1;
        cursor: pointer;
        height: 7px;
        border-radius: 0px;
        box-shadow: -200px 0px 0px 200px #43e5f7;
        padding: 0px;
        margin: 0px;
    }
}

.weather {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.description-container {
    display: flex;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.city {
    display: block;
    font-family: inherit;
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    outline: 0;
}

.city::placeholder {
    color: #fff;
    opacity: 0.6;
}