.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 30vh;
}

.audio-player__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 50px;
    margin-bottom: 28px;
}

.icon_play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url(../assets/svg/play.svg);
}

.pause {
    background-image: url(../assets/svg/pause.svg);
}

.icon_prew-track {
    background-image: url(../assets/svg/play-prev.svg);
}

.icon_next-track {
    background-image: url("../assets/svg/play-next.svg");
}

.audio-player__playlist {
    text-align: left;
}

.play-item {
    position: relative;
    padding: 3px;
    padding-left: 20px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.play-item:hover {
    opacity: 1;
}

.play-item::before {
    content: "\2713";
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: 900;
}

.item-active::before {
    color: #C5B358;
}

.weather {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.description-container {
    display: flex;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.weather__temperature:after {
    content: ' \2103';
}

.city {
    display: block;
    font-family: inherit;
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.city::placeholder {
    color: #fff;
    opacity: 0.6;
}